@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


/*
- Light Cyan:           hsl(193, 38%, 86%);
- Neon Green:           hsl(150, 100%, 66%);
- Grayish Blue:         hsl(217, 19%, 38%);
- Dark Grayish Blue:    hsl(217, 19%, 24%);
- Dark Blue:            hsl(218, 23%, 16%);
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    font-size: 28px;
    color: white;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 447px;
    height: auto;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    width: 75%;
}

.box-header {
    font-size: 10px;
    letter-spacing: .2rem;
    color: hsl(150, 100%, 66%);
    text-align: center;
    margin-top: 35px;
}

.box-main {
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 800;
    color: hsl(193, 38%, 86%);
    line-height: 150%;
}

.glow {
    box-shadow: 1px 1px 20px 5px hsl(150, 100%, 66%);
}

#grey {
    background-color: grey;
}

.box-divider {
    margin: 20px 35px;
    height: 25px;
    background: url('../images/pattern-divider-mobile.svg') no-repeat center center / contain;
}

.box-dice {
    margin-top: 23px;
    margin-bottom: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#dice-circle {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 8px 14px;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 180%;
}

a, a:visited {
    color: hsl(150, 100%, 66%);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .box-main {
        font-size: 24px;
    }
    
    .box-divider {
        margin: 20px 35px;
        height: 25px;
        background: url('../images/pattern-divider-desktop.svg') no-repeat center center / contain;
    }
}